name: taramux
services:
  certbot:
    image: certbot/certbot:v5.3.0
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh:ro,Z
      - certbot-certs:/etc/letsencrypt
      - certbot-www:/var/www/html
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    networks:
      default:
        aliases:
          - taramux-certbot
    command: >
      sh -c "trap exit TERM; while :; do
        certbot renew --webroot --webroot-path=/var/www/html --deploy-hook /deploy-hook.sh;
        sleep 12h;
      done"
    entrypoint: ""
    restart: always
    healthcheck:
      test: [ "CMD", "test", "-e", "/etc/letsencrypt/live/${SERVER_HOSTNAME}/fullchain.pem" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 15

  dyndns:
    build: dyndns
    volumes:
      - ./dyndns/settings.txt:/settings.txt
    networks:
      default:
        aliases:
          - taramux-dyndns
    restart: always

  frontend:
    build: frontend
    networks:
      default:
        ipv4_address: ${IPV4_NETWORK:-172.22.1}.240
        aliases:
          - taramux-frontend
    restart: always

  haproxy:
    image: haproxy:3.3
    depends_on:
      certbot:
        condition: service_healthy
      frontend:
        condition: service_started
    volumes:
      - certbot-certs:/etc/letsencrypt:ro
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - '${HTTP_BIND:-}:${HTTP_PORT:-80}:${HTTP_PORT:-80}'
      - '${HTTPS_BIND:-}:${HTTPS_PORT:-443}:${HTTPS_PORT:-443}'
    networks:
      default:
        aliases:
          - taramux-haproxy
      lesjardinsdudore:
      taramail:
      taramonit:
      tarawiki:
    restart: always
    user: root

  ipv6nat:
    image: robbertkl/ipv6nat:0.4.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /lib/modules:/lib/modules:ro
    network_mode: "host"
    restart: always
    privileged: true
    security_opt:
      - label=disable

  prometheus:
    image: prom/prometheus:v3.9.1
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    networks:
      default:
        aliases:
          - taramux-prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=30d'
    restart: always

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-taramux
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.2}.0/24
        - subnet: ${IPV6_NETWORK:-fd4d:6169:6c63:6f78::/64}
  lesjardinsdudore:
    external: true
    name: lesjardinsdudore_default
  taramail:
    external: true
    name: taramail_default
  taramonit:
    external: true
    name: taramonit_default
  tarawiki:
    external: true
    name: tarawiki_default

volumes:
  certbot-certs:
  certbot-www:
  prometheus-data:
