services:
  dyndns:
    build: dyndns
    restart: always
    volumes:
      - ./dyndns/settings.txt:/settings.txt

  haproxy:
    image: haproxy:3.3
    restart: always
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    user: root
    ports:
      - "${HTTPS_BIND:-}:${HTTPS_PORT:-443}:${HTTPS_PORT:-443}"
      - "${HTTP_BIND:-}:${HTTP_PORT:-80}:${HTTP_PORT:-80}"
    networks:
      - lesjardinsdudore
      - taramail
      - tarawiki

  ipv6nat:
    image: robbertkl/ipv6nat
    security_opt:
      - label=disable
    restart: always
    privileged: true
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /lib/modules:/lib/modules:ro

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-taramux
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.2}.0/24
        - subnet: ${IPV6_NETWORK:-fd4d:6169:6c63:6f78::/64}
  lesjardinsdudore:
    external: true
    name: lesjardinsdudore_default
  taramail:
    external: true
    name: taramail_default
  tarawiki:
    external: true
    name: tarawiki_default
