name: taramux
services:
  dyndns:
    build: dyndns
    volumes:
      - ./dyndns/settings.txt:/settings.txt

  nginx:
    build: nginx
    environment:
      - HTTPS_PORT=${HTTPS_PORT:-443}
      - HTTP_PORT=${HTTP_PORT:-80}
      - ADDITIONAL_SERVER_NAMES=${ADDITIONAL_SERVER_NAMES:-}
      - TZ=${TZ}
      - DISABLE_IPv6=${DISABLE_IPv6:-n}
      - IPV4_NETWORK=${IPV4_NETWORK:-172.22.2}
    volumes:
      - ./nginx/conf.d/:/etc/nginx/conf.d/:z
      - certbot-www:/var/www/certbot
      - ssl-vol-1:/etc/ssl/taramux/:ro,z
    ports:
      - "${HTTPS_BIND:-}:${HTTPS_PORT:-443}:${HTTPS_PORT:-443}"
      - "${HTTP_BIND:-}:${HTTP_PORT:-80}:${HTTP_PORT:-80}"
    restart: always
    networks:
      - taram_mail-network
      - taramux-network

  certbot:
    image: certbot/certbot
    entrypoint: >
      sh -c "trap exit TERM; while :; do
        certbot renew --webroot -w /var/www/certbot --quiet --deploy-hook /deploy-hook.sh';
        sleep 12h;
      done"
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh
      - ./certbot/letsencrypt:/etc/letsencrypt
      - certbot-www:/var/www/certbot
      - ssl-vol-1:/etc/ssl/taramux
    networks:
      - taramux-network

  ipv6nat:
    image: robbertkl/ipv6nat
    depends_on:
      - certbot
    security_opt:
      - label=disable
    restart: always
    privileged: true
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /lib/modules:/lib/modules:ro

networks:
  taram_mail-network:
    external: true
  taramux-network:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-taramux
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.2}.0/24
        - subnet: ${IPV6_NETWORK:-fd4d:6169:6c63:6f78::/64}

volumes:
  certbot-www:
  ssl-vol-1:
