user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    # map-size.conf:
    map_hash_max_size 256;
    map_hash_bucket_size 256;

    # site.conf:
    proxy_cache_path /tmp levels=1:2 keys_zone=sogo:10m inactive=24h  max_size=1g;
    server_names_hash_max_size 512;
    server_names_hash_bucket_size 128;

    map $http_x_forwarded_proto $client_req_scheme {
        default $scheme;
        https https;
    }

    server {
        listen {{ HTTP_PORT }} default_server;
        listen [::]:{{ HTTP_PORT }} default_server;

        server_name {{ SERVER_HOSTNAME }} autodiscover.* autoconfig.* {{ ADDITIONAL_SERVER_NAMES | join(' ') }};

        if ( $request_uri ~* "%0A|%0D" ) { return 403; }
        location ^~ /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }
        location / {
            return 301 https://$host$uri$is_args$args;
        }
    }


    # Default Server Name
    server {
        listen {{ HTTPS_PORT }} ssl;
        listen [::]:{{ HTTPS_PORT }} ssl;

        http2 on;

        ssl_certificate /etc/ssl/taramux/cert.pem;
        ssl_certificate_key /etc/ssl/taramux/key.pem;

        server_name {{ SERVER_HOSTNAME }} autodiscover.* autoconfig.*;

        # Proxy all requests to an internal HTTP backend
        location / {
            proxy_pass http://nginx:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    # Additional Server Names
    {% for SERVER_NAME in ADDITIONAL_SERVER_NAMES %}
    server {
        listen {{ HTTPS_PORT }} ssl;
        listen [::]:{{ HTTPS_PORT }} ssl;

        http2 on;

        ssl_certificate /etc/ssl/taramux/cert.pem;
        ssl_certificate_key /etc/ssl/taramux/key.pem;

        server_name {{ SERVER_NAME }};

        include /etc/nginx/includes/sites-default.conf;
    }
    {% endfor %}

    {% for cert in valid_cert_dirs %}
    server {
        listen {{ HTTPS_PORT }} ssl;
        listen [::]:{{ HTTPS_PORT }} ssl;

        http2 on;

        ssl_certificate {{ cert.cert_path }}fullchain.pem;
        ssl_certificate_key {{ cert.cert_path }}privkey.pem;

        server_name {{ cert.domains }};

        include /etc/nginx/includes/sites-default.conf;
    }
    {% endfor %}

    include /etc/nginx/conf.d/*.conf;
}
