name: test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Python environment
        uses: ./.github/actions/setup-uv-env
        with:
          extras: check
          python-version: "3.14"
          working-directory: dyndns

      - name: Run check target
        run: make check

  dyndns-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Python environment
        uses: ./.github/actions/setup-uv-env
        with:
          extras: test
          python-version: ${{ matrix.python-version }}
          working-directory: dyndns

      - name: Run dyndns test target
        working-directory: dyndns
        run: make test
